<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>NSLocalNetworkUsageDescription</key><string>查找家里的电脑并发送文字和图片。</string><key>NSBonjourServices</key><array><string>_pcmessage._tcp</string></array></dict></plist>
